body {
    background-color: #222;
}

.video-container {
    display: flex;
    background: black;
    position: relative;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0 3px 3px 0;
}

.centered {
    max-width: 90%;
    width: 112vh;
    height: 63vh;
    margin: 20px auto;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.75);
}

video {
    min-height: 0;
    flex: 1 1 0;
    max-width: 100%;
}

ap-audio-meter-basic {
    height: 250px;
}

.audio-meters {
    margin-top: 15px;
    display: inline-flex;
}

.audio-meters>* {
    margin-right: 15px;
}

.logo {
    height: 45px;
    width: 225px;
    background-repeat: no-repeat;
    display: block;
    background-size: 100%;
    background-image: url("logo.png");
}
